
body
    margin 0
    padding 0

header
    width 100%
    height 100px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
    position relative
    background-color: none

    .wrapper
        max-width 1300px
        margin auto
        display flex
        align-items center
        height: 100%
        justify-content: space-between
        padding: 0 10px
        background rgb(255, 255, 255)
        z-index 10
        position relative
        

        &-logo
            width: 50px
            height: 50px

            img
                width: 100%
                height: 100%
        
        &-hamburger
            width 50px
            height 30px
            display flex
            flex-direction column
            justify-content space-between
            cursor pointer
            margin-right: 20px

            span
                border: 2px solid black

    nav
        position: absolute
        left: 50%
        transform: translateX(-50%) translateY(-50px)
        z-index: 1